@media screen and (max-width: 576px) {
  .navbar-container {
    align-items: center;

    /* align-items: center; */
  }

  .nav-links {
    display: none;
  }
  .bar {
    display: block;
  }
.banner-container{
  flex-direction: column;
  /* width: 100%; */
}
.banner-text{
  width: 90%;
    margin-left: 20px;
}
.btn-primary {
  padding: 16px 28px;
  border-radius: 42px;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
}
.btn-responsive{
  flex-direction: row;
}
.banner-img{
  width: 100%;
}

.video-tutorial{
  
  top: 45%;
  left: 9%;
}
.workout-videos{
  padding: 5px 10px;
  top: 10%;
 left: 55%;
}
.five-hundred{font-size: 2rem;}

.habits-img-container{
  grid-template-columns: repeat(1, 1fr);
}
.run-section-container{
  flex-direction: column;
 

}
.run-section-text{
width: 100%;
text-align: center;
}
.run-section-img{
  width: 100%;
 
}
.run-section-img img{
object-fit: fill;
}
.bmi-calculator-section{
  max-width: 100%;
  padding: 20px;
}
.bmi-section{
  flex-direction: column;
  
 

 /* padding: 30px; */
}
.bmi-chart{
  width:90%;
   margin-left: 18px;


 
}
/* .bmi-chart h4{
  display: flex;
  justify-content: center;
}
table{
  display: grid;
  justify-content: center;
  
} */
.calculate-bmi{
  width: 90%;
  margin-top: 50px;
  margin-left: 18px;
 

 }
 .calculate-bmi p{
 width:250px;
  }
 .form-style{
 grid-template-columns: repeat(2, 150px);

  }
 .input-file{
  padding: 10px;
  /* width: 145px; */
 }

 .team-section-img{
 
  grid-template-columns: repeat(1,1fr);
margin: 20px;
 }
 .team-img{
  width: 100%;
  margin: 0 auto;
 }
 .footer-main{
  flex-direction: column;
 }
 .get-started-container{
  flex-direction: column;
  margin-top: 30px;
  margin-left: 15px;
 }
 .get-started-2{
  margin-top: 30px;
 }
 .fitness{
  /* padding-left:15px ; */
  margin-left: 15px;
 margin-top: 30px;
 }
 .workout-container{
  flex-direction: column;
  
 }
 .workout-text{
  width: 90%;
  /* border: 2px solid red; */
 }
 .workout-video-2{
width: 300px;
margin-top: 40px;
 }
 .workout-video-2 iframe{
  width: 90%;
  /* border: 2px solid tomato; */
 margin: 0 auto;
 margin-left: 15px;
 /* padding-top: 10px; */
 /* padding-bottom: 10px; */
  
 }


}

@media screen and (min-width:576px) and (max-width:992px) {
 
  .banner-container{
    flex-direction: column;}
    .banner-text{
      width: 90%;}
      .banner-img{
        width: 50%;
        margin: 0 auto;
      }


      /* .banner-img img{ text-align: center;} */
  
  .five-hundred{font-size: 2rem;}
  .workout-videos{
    padding: 5px 3px;
    top: 10%;
   left: 55%;}
   .video-tutorial{
    top: 60%;
    left: 1%;

   }
   .habits-img-container{
    grid-template-columns: repeat(2, 1fr);

   }
   .run-section-text{
    width: 35%;
   }
   .run-section-img{
    width: 45%;
    
   
  }
   .run-section-img img{
    width: 100%;
    object-fit:none;
    object-position:65% 25% ;
  margin-top: 65px;
  }
  .run-section-container{
    justify-content: space-around;
  }
  .bmi-calculator-section{
    width:100%;
    text-align:left;
    
  }
  .calculate-bmi{
    width: 70%;
    margin-top: 50px;
    margin-left: 18px;
   
  
   }
}

