@media screen and (max-width: 576px) {
  .navbar-container {
    align-items: center;

    /* align-items: center; */
  }

  .nav-links {
    display: none;
  }
  .bar {
    display: block;
  }
.banner-container{
  flex-direction: column;
  /* width: 100%; */
}
.banner-text{
  width: 100%;
}
.btn-responsive{
  flex-direction: row;
}
.banner-img{
  width: 100%;
}

.video-tutorial{
  
  top: 45%;
  left: 9%;
}
.workout-videos{
  padding: 5px 10px;
  top: 10%;
 left: 55%;
}
.five-hundred{font-size: 2rem;}

.habits-img-container{
  grid-template-columns: repeat(1, 1fr);
}
.run-section-container{
  flex-direction: column;
 

}
.run-section-text{
width: 100%;
text-align: center;
}
.run-section-img{
  width: 100%;
 
}
.run-section-img img{
object-fit: fill;
}
.bmi-calculator-section{
  max-width: 100%;
  padding: 20px;
}
.bmi-section{
  flex-direction: column;
  
 

 /* padding: 30px; */
}
.bmi-chart{
  width:90%;

 
}
/* .bmi-chart h4{
  display: flex;
  justify-content: center;
}
table{
  display: grid;
  justify-content: center;
  
} */
.calculate-bmi{
  width: 100%;
  margin-top: 50px;
  padding: 5px ;
 

 }
 .calculate-bmi p{
 width:250px;
  }
 .form-style{

  width:min-content;

 }
 .input-file{
  padding: 10px;
  /* width: 145px; */
 }

 .team-section-img{
 
  grid-template-columns: repeat(1,1fr);
margin: 20px;
 }
 .team-img{
  width: 100%;
  margin: 0 auto;
 }

}

@media screen and (min-width:576px) and (max-width:992px) {
 
  .banner-container{
    flex-direction: column;}
    .banner-text{
      width: 100%;}
      .banner-img{
        width: 50%;
        margin: 0 auto;
      }


      /* .banner-img img{ text-align: center;} */
  
  .five-hundred{font-size: 2rem;}
  .workout-videos{
    padding: 5px 3px;
    top: 10%;
   left: 55%;}
   .video-tutorial{
    top: 60%;
    left: 1%;

   }
   .habits-img-container{
    grid-template-columns: repeat(2, 1fr);

   }
   .run-section-text{
    width: 35%;
   }
   .run-section-img{
    width: 45%;
    
   
  }
   .run-section-img img{
    width: 100%;
    object-fit:none;
    object-position:65% 25% ;
  margin-top: 65px;
  }
  .run-section-container{
    justify-content: space-around;
  }
  .bmi-calculator-section{
    width:100%;
    text-align:left;
    
  }
}

