@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}


  /* shared styles */
.display-flex{ 
    display: flex;
}
.text-color{
    color: white;
}
.primary-color{
background-color: rgb(230, 83, 60);

}

.bg-light{
    background-color: rgb(17, 17, 17);

}

  /* navbar related styles */



  .navbar-container {
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
    /* padding: 20px ; */

  }
  .fitness-color{color: rgb(230, 83, 60);
  margin-left: 25px;
  }
  .bar{ margin-right: 25px;
  display: none;
  }
  .home{ background-color: rgb(230, 83, 60);
  padding: 8px 20px;
  border-radius: 10px;
  }
  
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
font-weight: 400px;

  }
  .navbar, .banner{
    max-width:1440px;
    margin: 0 auto;
  }